{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">

  <div class="author__avatar">
    <a href="{{ author.avatar | relative_url }}" title="{{ author.name }}">
      <img src="{{ author.avatar }}" class="author__avatar" alt="{{ author.name }}">
    </a>
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <ul class="author__urls social-icons">
      {% if site.description %}
        <li><div style="white-space: normal; margin-bottom: 1em;">{{ site.description }}</div></li>
      {% endif %}
      {% if author.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
      {% endif %}
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email<br/><span style="padding-left:1.6em;">{{ author.email }}</span></a></li>
      {% endif %}
      {% if author.wechat %}
        <li><a href="{{ author.wechat | relative_url }}" title="WeChat QR Code"><i class="fab fa-fw fa-weixin" aria-hidden="true"></i> WeChat<br/><span style="padding-left:1.6em;">{{ author.wechat_id }}</span></a></li>
      {% endif %}
    </ul>
    <div class="author__urls_sm">
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.googlescholar %}
        <a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i></a>
      {% endif %}
      {% if author.email %}
        <a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i></a>
      {% endif %}
      {% if author.wechat %}
        <a href="{{ author.wechat | relative_url }}"><i class="fab fa-fw fa-weixin" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  </div>
</div>
